.box {
    height: 200px;
    width: 200px;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

.laranja {
    background-color: orange;
}